:root {

    --background: #0f172a;
    --surface: #1e293b;
    --surface-hover: #334155;

    --text: #ffffff;
    --text-secondary: #cbd5e1;

    --primary: #2563eb;

    --shadow:
        0 4px 12px rgba(0,0,0,.2);
}

body.light-theme {

    --background: #f8fafc;

    --surface: #ffffff;

    --surface-hover: #e2e8f0;

    --text: #6f8bcc;

    --text-secondary: #475569;

    --primary: #2563eb;

    --shadow:
        0 4px 12px rgba(0,0,0,.08);

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;

    background:var(--background);

    color:var(--text);

    transition:.3s;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.header{
    background:#020617;
    padding:15px 0;
    position:sticky;
    top:0;
    z-index:1000;
}
.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu{
    list-style:none;
    display:flex;
    gap:20px;
}

.menu a{
    color:#6f8bcc;
    text-decoration:none;
}

.hero{
    padding:100px 0;
    text-align:center;
}

.profile-image{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

.hero h1{
    margin-bottom:15px;
}

.hero p{
    max-width:600px;
    margin:auto;
}

.hero-buttons{
    margin-top:30px;
}

.btn{
    text-decoration:none;
    background:var(--primary);
    color:white;
    padding:12px 20px;
    border-radius:8px;
    margin:5px;
    display:inline-block;
}

.btn-secondary{
    background:#334155;
}

.section{
    padding:80px 0;
}

.section h2{
    text-align:center;
    margin-bottom:40px;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
    
}

.skill-card{
    padding:20px;
    text-align:center;
}

.skill-card,
.project-card,
.certificate-card{

    background:var(--surface);

    box-shadow:var(--shadow);

    transition:.3s;

    border-radius:8px;
}

.skill-card:hover,
.project-card:hover,
.certificate-card:hover{

    background:var(--surface-hover);

    transform:translateY(-5px);
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
}

.project-card img{
    width:100%;
}

.project-card h3,
.project-card p{
    padding:15px;
}

.tags{
    padding:0 15px 15px;
}

.tags span{
    background:var(--primary);
    padding:5px 10px;
    border-radius:20px;
    margin-right:5px;
}

.btn-project{
    display:block;
    text-align:center;
    background:var(--primary);
    padding:12px;
    color:white;
    text-decoration:none;
}

.certificates-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

footer{
    background:#020617;
    padding:30px;
    text-align:center;
}

#theme-toggle{

    border:none;

    cursor:pointer;

    padding:10px 15px;

    border-radius:10px;

    background:var(--primary);

    color:white;

    font-size:1rem;
}

.hamburger{

    display:none;

    background:none;

    border:none;

    color:#2563eb;

    font-size:2rem;

    cursor:pointer;
}

.header-actions{

    display:flex;

    gap:10px;

    align-items:center;

}

.header .container{
    display:flex;
    align-items:center;
    gap:30px;
}

nav{
    flex:1;
    display:flex;
    justify-content:center;
}

.btn-cv{

    background:#16a34a;

    color:white;
}
.btn-cv:hover{

    transform:translateY(-3px);
}
